@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap");
@media (max-width: 1200px) {
  .app .row .container .slider {
    --items-per-screen: 4 ;
  }
}
@media (max-width: 900px) {
  .app .row .container .slider {
    --items-per-screen: 3 ;
  }
  .app .nav .nav-bar .left .selection {
    display: none;
  }
  .app .footer .footer-container .footer-selections {
    font-size: 0.75rem;
  }
  .app .footer .footer-container .footer-selections .left-footer-selections .footer-selection, .app .footer .footer-container .footer-selections .right-footer-selections .footer-selection {
    margin: 0.25rem 0.5rem;
  }
}
@media (max-width: 660px) {
  .app .hero-describe .hero-tag {
    font-size: 1rem;
  }
  .app .hero-describe .hero-tag img {
    max-width: 1rem;
    max-height: 1rem;
  }
  .app .hero-describe .hero-img img {
    max-width: 10rem;
  }
  .app .hero-describe .hero-content {
    font-size: 0.8rem;
  }
  .app .hero-describe .describe-btns .hero-play, .app .hero-describe .describe-btns .hero-infor {
    padding: 0.1rem 0.5rem;
    font-size: 0.9rem;
  }
  .app .row .container .slider {
    --items-per-screen: 2 ;
  }
  .app .footer .footer-container .footer-selections {
    font-size: 0.75rem;
  }
}
@media (max-height: 600px) {
  .app .hero-describe .hero-tag {
    font-size: 1rem;
  }
  .app .hero-describe .hero-tag img {
    max-width: 1rem;
    max-height: 1rem;
  }
  .app .hero-describe .hero-img img {
    max-width: 10rem;
  }
  .app .hero-describe .hero-content {
    font-size: 0.8rem;
  }
  .app .hero-describe .describe-btns .hero-play, .app .hero-describe .describe-btns .hero-infor {
    padding: 0.1rem 0.5rem;
    font-size: 0.9rem;
  }
}
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: rgba(33, 33, 33, 0.8);
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background: rgb(219, 219, 219);
}

html {
  height: 100%;
}

:root {
  --main-grey:#878787;
  --slider-padding: 5rem;
  --handle-size: 3rem;
  --img-gap:.25rem;
  --btn-grey: rgb(174, 174, 174);
}

* {
  outline: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Inter", sans-serif;
  font-family: "Noto Sans TC", sans-serif;
}

.app {
  height: 100%;
  background: rgba(7, 7, 7, 0.9);
  min-height: 200vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.logo img {
  max-height: 3.5rem;
  margin-right: 2rem;
}

.nav-bar {
  position: absolute;
  width: 100%;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.9rem;
  color: #fff;
  padding: 0 3rem;
  background-color: rgba(4, 4, 4, 0.7);
}
.nav-bar .left {
  display: flex;
  align-items: center;
}
.nav-bar .left .selection a:hover {
  color: #FFF;
}
.nav-bar .left .selection a {
  transition: all 0.2s ease-in-out;
  color: var(--btn-grey);
  margin: 0.5rem;
}
.nav-bar .right {
  display: flex;
  font-size: 1.5rem;
  align-items: center;
  position: relative;
}
.nav-bar .right .search .search-bar {
  padding: 0.3rem;
}
.nav-bar .right .search .trigger-input {
  display: none;
  font-size: 1rem;
  color: #fff;
  margin-left: 1rem;
  border: none;
  background: none;
  max-width: 20rem;
}
.nav-bar .right .bell:hover .callout-arrow, .nav-bar .right .bell:hover .sub-menu {
  transition: 200ms;
  display: block !important;
}
.nav-bar .right .nav-btn:hover {
  color: #FFF;
}
.nav-bar .right .nav-btn {
  transition: all 0.2s ease-in-out;
  margin: 0.8rem;
  color: var(--btn-grey);
  display: flex;
  position: relative;
  justify-content: center;
}
.nav-bar .right .nav-btn img {
  max-height: 2rem;
  border-radius: 0.5rem;
}
.nav-bar .right .nav-btn .callout-arrow {
  display: none;
  position: absolute;
  font-size: 0.5rem;
  bottom: -1.5rem;
  color: rgba(255, 255, 255, 0.4);
}
.nav-bar .right .sub-menu {
  position: relative;
  display: none;
}
.nav-bar .right .sub-menu .sub-menu-list {
  position: absolute;
  list-style: none;
  right: 25%;
  top: 5px;
}
.nav-bar .right .sub-menu .sub-menu-list .topbar {
  position: absolute;
  height: 2px;
  background-color: #FFF;
  width: 100%;
}
.nav-bar .right .sub-menu .sub-menu-list .sub-menu-item .ptrack-container .ptrack-content .notifications-container {
  max-height: 560px;
  overflow-y: scroll;
  overflow-x: hidden;
}
.nav-bar .right .sub-menu .sub-menu-list .sub-menu-item .ptrack-container .ptrack-content .notifications-container .notification {
  list-style: none;
}
.nav-bar .right .sub-menu .sub-menu-list .sub-menu-item .ptrack-container .ptrack-content .notifications-container .notification .notification-content {
  border: 1px solid #878787;
}
.nav-bar .right .sub-menu .sub-menu-list .sub-menu-item .ptrack-container .ptrack-content .notifications-container .notification .notification-content .image-text-notification {
  display: flex;
  align-items: center;
  overflow: hidden;
  background-color: rgba(41, 40, 40, 0.6);
}
.nav-bar .right .sub-menu .sub-menu-list .sub-menu-item .ptrack-container .ptrack-content .notifications-container .notification .notification-content .image-text-notification .image {
  padding: 16px;
}
.nav-bar .right .sub-menu .sub-menu-list .sub-menu-item .ptrack-container .ptrack-content .notifications-container .notification .notification-content .image-text-notification .image .title-card {
  width: 112px;
  border-radius: 4px;
  max-height: 63px;
}
.nav-bar .right .sub-menu .sub-menu-list .sub-menu-item .ptrack-container .ptrack-content .notifications-container .notification .notification-content .image-text-notification .text {
  width: 264px;
  padding: 16px;
  color: #fff;
  font-size: 16px;
}
.nav-bar .right .sub-menu .sub-menu-list .sub-menu-item .ptrack-container .ptrack-content .notifications-container .notification .notification-content .image-text-notification .text .age {
  font-size: 12px;
  color: #dcdcdc;
}

.hero {
  height: 100vh;
  width: 100%;
  background: url(./assets/hero-background.jpg) no-repeat center;
  background-size: cover;
  top: 0;
  position: absolute;
  z-index: 0;
}
.hero .mask {
  width: 100%;
  height: 100%;
  background-color: rgba(4, 4, 4, 0.7);
}
.hero .hero-btn {
  top: 30%;
  position: absolute;
  right: 0;
  z-index: 100;
  display: flex;
}
.hero .hero-btn .replay:hover {
  color: #fff;
  border: 1px solid #FFF;
}
.hero .hero-btn .replay {
  cursor: pointer;
  border-radius: 50%;
  background-color: rgba(87, 87, 87, 0.1);
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  margin-right: 1.5rem;
  font-size: 1.35rem;
  color: rgb(174, 174, 174);
  border: 1px solid rgb(174, 174, 174);
  transition: all 0.3s ease-in-out;
}
.hero .hero-btn .level {
  cursor: default;
  background-color: rgba(87, 87, 87, 0.6);
  padding: 0.5vw 3.5vw 0.5vw 0.8vw;
  color: #fff;
}

.hero-describe {
  display: flex;
  flex-direction: column;
  font-size: 5rem;
  z-index: 1;
  max-width: 50rem;
  padding: 5rem;
}
.hero-describe .hero-img {
  display: flex;
  justify-self: start;
}
.hero-describe .hero-tag {
  font-weight: bold;
  color: rgb(213, 213, 213);
  display: flex;
  align-items: center;
  font-size: 1.3rem;
}
.hero-describe .hero-tag img {
  max-width: 1.3rem;
  max-height: 1.3rem;
}
.hero-describe .hero-content {
  margin: 0.5rem 0;
  max-width: 100%;
  max-width: 20rem;
  font-weight: 600;
  font-size: 1rem;
  color: #fff;
}
.hero-describe .describe-btns {
  display: flex;
  cursor: pointer;
}
.hero-describe .describe-btns .hero-play, .hero-describe .describe-btns .hero-infor {
  display: flex;
  font-size: 1.1rem;
  padding: 0.2rem 1rem;
  border-radius: 0.5rem;
  font-weight: bold;
}
.hero-describe .describe-btns .hero-play:hover, .hero-describe .describe-btns .hero-infor:hover {
  transform: scale(1.1);
}
.hero-describe .describe-btns .hero-play {
  transition: all 0.2s ease-in-out;
  background-color: #FFF;
  margin-right: 0.5rem;
}
.hero-describe .describe-btns .hero-play .hero-play-icon, .hero-describe .describe-btns .hero-play .hero-play-text {
  margin: 0.3rem;
}
.hero-describe .describe-btns .hero-infor {
  transition: all 0.2s ease-in-out;
  background-color: rgba(87, 87, 87, 0.6);
  margin-left: 0.5rem;
}
.hero-describe .describe-btns .hero-infor .hero-infor-icon, .hero-describe .describe-btns .hero-infor .hero-infor-text {
  margin: 0.3rem;
  color: #fff;
}

.rows {
  height: 100%;
  flex-direction: column;
}

.row {
  margin: 1rem 0;
}

.row-two {
  display: flex;
  flex-direction: column;
  bottom: 33%;
}

.row-three {
  display: flex;
  flex-direction: column;
  bottom: 21%;
}

.row-four {
  display: flex;
  flex-direction: column;
  bottom: 9%;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.slider {
  --items-per-screen:6;
  --slider-index: 0;
  display: flex;
  transform: translateX(calc(var(--slider-index) * -100%));
  flex-grow: 1;
  margin: 0 var(--img-gap);
  transition: transform 250ms ease-in-out;
}

.slider > img {
  flex: 0 0 calc(100% / var(--items-per-screen));
  max-width: calc(100% / var(--items-per-screen));
  aspect-ratio: 16/9;
  padding: var(--img-gap);
  border-radius: 1rem;
}

.handle {
  border: none;
  border-radius: 1rem;
  width: var(--handle-size);
  background-color: rgba(0, 0, 0, 0.25);
  z-index: 10;
  flex-grow: 0;
  flex-shrink: 0;
  margin: var(--img-gap) 0;
  cursor: pointer;
  padding: 0 0.5rem;
  font-size: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  line-height: 0;
  transition: background-color 150ms ease-in-out;
}

.left-handle {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.right-handle {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.text {
  transition: transform 150ms ease-in-out;
}

.handle:hover .text {
  transform: scale(1.2);
}

.handle:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.row-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem calc(var(--img-gap) * 2 + var(--handle-size));
}

.row-title {
  font-size: 1.5rem;
  margin: 0;
  z-index: 10;
  color: rgb(196, 196, 196);
}

.progress-bar {
  display: flex;
  gap: 0.25rem;
  z-index: 10;
}

.progress-item {
  flex: 0 0 1.5rem;
  min-width: 1.5rem;
  height: 0.5rem;
  background-color: rgba(255, 255, 255, 0.5);
}

.progress-item.active-test {
  background-color: rgba(255, 255, 255, 0.9);
}

.active {
  display: block !important;
}

.border {
  border: 1px solid #fff;
  border-radius: 3px;
}

.footer {
  cursor: pointer;
  color: var(--btn-grey);
  display: block;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.footer .footer-container {
  margin: 0 auto;
  flex-direction: column;
  width: 50%;
}
.footer .footer-container .foot-link:hover, .footer .footer-container .footer-selection:hover, .footer .footer-container .service-code:hover {
  color: #FFF;
}
.footer .footer-container .links {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  font-size: 1.5rem;
}
.footer .footer-container .links .foot-link {
  padding: 1rem;
  transition: all 0.2s ease-in-out;
}
.footer .footer-container .footer-selections {
  height: 10rem;
  display: flex;
  width: 100%;
  justify-content: space-around;
}
.footer .footer-container .footer-selections .left-footer-selections, .footer .footer-container .footer-selections .right-footer-selections {
  display: flex;
  width: 100%;
  flex-direction: column;
  flex-wrap: wrap;
}
.footer .footer-container .footer-selections .left-footer-selections .footer-selection, .footer .footer-container .footer-selections .right-footer-selections .footer-selection {
  margin: 0.75rem 1rem;
  transition: all 0.2s ease-in-out;
}
.footer .footer-container .footer-bottom {
  display: flex;
  flex-direction: column;
  margin: 0 1rem;
  align-items: flex-start;
}
.footer .footer-container .footer-bottom .service-code {
  border: 1px solid #dcdcdc;
  padding: 0.3rem;
  transition: all 0.2s ease-in-out;
}
.footer .footer-container .footer-bottom .copyright {
  margin: 0.5rem 0;
  cursor: default;
}/*# sourceMappingURL=style.css.map */